---
import Hero from "@/components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "@/components/About.astro";
import Experience from "@/components/Experience.astro";
import Skills from "@/components/skills.astro";
import Solar from "@/components/Solar.astro";
import Projects from "@/components/Projects.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Ultimate Portfolio" description="Developer Full-Stack Portfolio">
  <div class="max-w-[1200px] w-full">
    <Hero />
    <About />
    <Experience />
    <Skills />
    <Solar />
    <Projects />
    <Contact />
  </div>
</Layout>

<style></style>
