---
import SkillBall from "./SkillBall.astro";
---

<div
  class="flex flex-wrap gap-x-2 gap-y-3 w-96 h-auto justify-center items-center mt-14"
>
  <SkillBall>
    <img src="/C.png" alt="Imagen del logo del lenguaje C" slot="tech" />
  </SkillBall>
  <SkillBall>
    <img src="/Xd.png" alt="Imagen del logo del programa Gabtzy" slot="tech" />
  </SkillBall>
  <SkillBall>
    <img
      src="/Figma.png"
      alt="Imagen del logo del programa Figma"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Javascript.png"
      alt="Imagen del logo del programa Javascript"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/MongoDB.png"
      alt="Imagen del logo del programa MongoDB"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Node.png"
      alt="Imagen del logo del programa Node.js"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/React.png"
      alt="Imagen del logo del programa React"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Ilustrator.png"
      alt="Imagen del logo del programa Ilustrator"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Redux.png"
      alt="Imagen del logo del programa Redux"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Nextjs.png"
      alt="Imagen del logo del programa Nextjs"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img
      src="/Express.png"
      alt="Imagen del logo del programa Express"
      slot="tech"
    />
  </SkillBall>
  <SkillBall>
    <img src="/Css.png" alt="Imagen del logo del programa Css" slot="tech" />
  </SkillBall>
  <SkillBall>
    <img
      src="/Gatzby.png"
      alt="Imagen del logo del programa Gatzby"
      slot="tech"
    />
  </SkillBall>
</div>
