---
import Card from "./Card.astro";
---

<section class="w-full mt-40 flex flex-col relative">
  <h2 class="text-4xl">Work Experience</h2>

  <div class="mt-10 grid grid-cols-1 sm:grid-cols-2 gap-10">
    <Card
      img="/Grupo1.png"
      title="CIB on the Mobile"
      description="Take your client onboard seamlessly by our amazing tool of digital onboard process."
    />
    <Card
      img="/Grupo2.png"
      title="CIB on the Mobile"
      description="Take your client onboard seamlessly by our amazing tool of digital onboard process."
    />
    <Card
      img="/Grupo3.png"
      title="CIB on the Mobile"
      description="Take your client onboard seamlessly by our amazing tool of digital onboard process."
    />
    <Card
      img="/Grupo4.png"
      title="CIB on the Mobile"
      description="Take your client onboard seamlessly by our amazing tool of digital onboard process."
    />
  </div>

  <img
    src="/GradianteBig.svg"
    alt="Gradiente de fondo"
    class="absolute -z-10 top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2"
  />
</section>
