---
import "@fontsource-variable/plus-jakarta-sans";
---

<header class="w-full flex justify-center items-center bg-[#1A0B2E] py-8">
  <div class="max-w-[1200px] w-full flex justify-around items-center">
    <img src="/Logo.svg" alt="Logo del portfolio" />
    <nav
      class="flex flex-row justify-center items-center gap-40 font-semibold text-xl"
    >
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Lab</a>
    </nav>
  </div>
</header>

<style>
  header {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
</style>
