---
import Ellipse from "@/Icons/Ellipse.astro";
---

<section class="w-full flex justify-center items-center mt-40 relative">
  <div class="">
    <img
      src="/Gradient.svg"
      alt="Gradiante de fondo"
      class="absolute -z-10 w-96 h-96 -top-16 left-0"
    />
    <img src="/Me.webp" alt="Emoji de una persona con una computadora Apple" />
  </div>
  <div class="flex flex-col justify-cente gap-2">
    <h2 class="text-lg">A Designer who</h2>
    <h1 class="text-5xl max-w-3xl leading-tight">
      Love to code and desing beautiful <span class="text-[#7127BA] relative">
        <Ellipse class="absolute top-1 -left-3" />
        things</span
      > ...
    </h1>
    <p class="text-xs">
      Because if the world is a canvas, I want to paint it with my own colors.
    </p>
  </div>
  <img src="/Arrow.svg" alt="" class="absolute -top-20 left-60 z-20" />
  <p class="absolute -top-[55px] left-[345px] text-lg">
    Hello, I'm <span class="text-[#7127BA]">Vikus</span>
  </p>
</section>
