---
import ProjectItem from "./ProjectItem.astro";
---

<section class="w-full flex flex-col mt-40 mb-10 gap-32">
  <ProjectItem
    direction="flex-row"
    imagePositionx="right-0"
    imagePositiony="top-0"
    gradientPositionx="-right-32"
    gradientPositiony="-top-16"
    headerPosition="items-start"
    background="background-card-1"
  >
    <header slot="header">
      <h3 class="text-[#9857D3] font-semibold text-lg">Featured Project</h3>
      <h2 class="text-accent font-semibold text-4xl">Example Project</h2>
    </header>
    <p
      class="text-accent text-left px-6 py-8 max-w-xl absolute z-40"
      slot="texto"
    >
      A web app for visualizing personalized Spotify data. View your top
      artists, top tracks, recently played tracks, and detailed audio
      information about each track. Create and save new playlists of recommended
      tracks based on your existing playlists and more.
    </p>
  </ProjectItem>
  <ProjectItem
    direction="flex-row-reverse"
    imagePositionx="left-0"
    imagePositiony="top-0"
    gradientPositionx="-left-32"
    gradientPositiony="-top-16"
    headerPosition="items-end"
    background="background-card-2"
  >
    <header slot="header" class="flex flex-col justify-center items-end">
      <h3 class="text-[#9857D3] font-semibold text-lg">Featured Project</h3>
      <h2 class="text-accent font-semibold text-4xl">Example Project</h2>
    </header>
    <p
      class="text-accent text-right right-0 px-6 py-8 max-w-xl absolute z-40"
      slot="texto"
    >
      A web app for visualizing personalized Spotify data. View your top
      artists, top tracks, recently played tracks, and detailed audio
      information about each track. Create and save new playlists of recommended
      tracks based on your existing playlists and more.
    </p>
  </ProjectItem>
</section>
