---
import ContainerSkill from "./ConteinerSkill.astro";
import Solar from "./Solar.astro";
---

<section class="w-full flex flex-col justify-center items-center mt-40">
  <header class="flex flex-col gap-4 justify-center items-center">
    <h2 class="text-2xl">
      I'm currently looking to join a <span class="text-[#A362FF]">
        cross-functional
      </span> team
    </h2>
    <h3 class="text-lg">
      that values improving people's lives through accessible design
    </h3>
  </header>

  <ContainerSkill />
  <Solar />
</section>
